@use "../base/abstracts.scss" as *;

.playerInput {
  height: 95vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.7fr 1fr 1.6fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  


&__heading {
  
  justify-self: stretch;
  align-self: stretch;
  grid-area: 1 / 1 / 2 / 7;
}

&__player-one-input {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  justify-self: stretch;
  align-self: stretch;
  grid-area: 3 / 1 / 5 / 4;
}

&__player-two-input {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  justify-self: stretch;
  align-self: stretch;
  grid-area: 3 / 4 / 5 / 7;
}
}

.playerInput__enter {
  grid-area: 4 / 3 / 6 / 5;
  display: flex;
  align-items: center;
  justify-content: center;

}