.playerInput__enter-button {
	box-shadow: 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #44cf6c 5%, #32a288 100%);
	background-color:#44cf6c;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	font-weight:bold;
	padding:20px 60px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
 
}
.playerInput__enter-button:hover {
	background:linear-gradient(to bottom, #32a288 5%, #44cf6c 100%);
	background-color:#32a288;
}
.playerInput__enter-button:active {
	position:relative;
	top:1px;
}

#shakePlayerOne {
	width: 250px;
	box-shadow: 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #44cf6c 5%, #32a288 100%);
	background-color:#44cf6c;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	font-weight:bold;
	padding:20px 60px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
 
}
#shakePlayerOne:hover {
	background:linear-gradient(to bottom, #32a288 5%, #44cf6c 100%);
	background-color:#32a288;
}
#shakePlayerOne:active {
	position:relative;
	top:1px;
}

.playerEnterButton {
	width: 400px;
	box-shadow: 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #44cf6c 5%, #32a288 100%);
	background-color:#44cf6c;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	font-weight:bold;
	padding:20px 60px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
 
}
.playerEnterButton:hover {
	background:linear-gradient(to bottom, #32a288 5%, #44cf6c 100%);
	background-color:#32a288;
}
.playerEnterButton:active {
	position:relative;
	top:1px;
}


.playerGoBackButton {
	width: 400px;
	box-shadow: 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #a2323f 5%, #f0cfd3 100%);
	background-color:#44cf6c;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	font-weight:bold;
	padding:20px 60px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
 
}
.playerGoBackButton:hover {
	background:linear-gradient(to bottom, #f0cfd3 5%, #a2323f 100%);
	background-color:#32a288;
}
.playerGoBackButton:active {
	position:relative;
	top:1px;
}