

.dice-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

p {
  font-size: 16px;
  margin: 30px 0;
  font-weight: 500;
}

button {
  background-color: #44CF6C ;
  border: none;
  outline: none;
  color: #ffff;
  padding: 15px 0;
  width: 150px;
  letter-spacing: 1px;
  border-radius: 5px;
}

.shake {
  animation: shake 1s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(8deg);
  }
  10% {
    transform: rotate(-8deg);
  }
  20% {
    transform: rotate(8deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  60% {
    transform: rotate(8deg);
  }
  70% {
    transform: rotate(-8deg);
  }
  80% {
    transform: rotate(8deg);
  }
  90% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }

}

