* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

.gameBody {
  display: flex;
  align-items: center;
  justify-content: center;
}

.diceGame {
  height: 100vh;
  width: 1800px;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.4fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  }
  
  .diceGame__headerPlayerOne {
    display: flex;
    align-items:flex-end;
    justify-content: center; 
    grid-area: 1 / 1 / 3 / 3;
    text-align: center;
    margin-top: 5px;
    height: 50px;
  }
  .diceGame__headerPlayerOne h1 {
    text-transform: uppercase;
    background: linear-gradient(to right, #44CF6C 0%, #32A287 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: {
      size: 40px
    };
  }

  .diceGame__headerPlayerTwo { 
    display: flex;
    align-items:center;
    justify-content: center;
    grid-area: 1 / 4 / 3 / 6;
    text-align: center; 
    margin-top: 5px;
    height: 50px;
  }

  .diceGame__headerPlayerTwo h1 {
    text-transform: uppercase;
    background: linear-gradient(to right, #44CF6C 0%, #32A287 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: {
      size: 40px
    };
  }


  .diceGame__score-header-one{
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center
  }

  .diceGame__score-header-one h2{
    text-transform: uppercase;
    background: linear-gradient(to right, #44CF6C 0%, #32A287 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: {
      size: 24px
    };
  }

  .diceGame__score-header-two {
    grid-area: 2 / 4 / 3 / 6;
    
    }

      
  #myprogressBar {
    width: 1%;
    height: 35px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 32px;
    color: black;
    }

  .diceGame__score-header-two h2{
    text-transform: uppercase;
    background: linear-gradient(to right, #44CF6C 0%, #32A287 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: {
      size: 24px
    };
  }
  .diceGame__scoreDetailsPlayerOne { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-start;
    grid-area: 3 / 1 / 5 / 3;
   }


  .diceGame__scoreDetailsPlayerTwo { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    grid-area: 3 / 4 / 5 / 6;
    
  }

  .diceGame__roll-button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    grid-area: 5 / 3 / 6 / 4;
  }

  .div5 { 
    grid-area: 5 / 4 / 7 / 6;
    
    
  }
  .div6 { 
     
    grid-area: 5 / 1 / 8 / 3;
    
  }


  .dicePlayOne {
    
    height: 320px;
    margin: auto;
    width: 300px;
    padding: 50px;
    border: 1px solid black;
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(50,50,50,0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif; //Find font family for here
    
    }
    
    .dicePlayTwo {
      height: 320px;
      margin: auto;
      width: 300px;
      padding: 50px;
      border: 1px solid black;
      background-color: #fff;
      box-shadow: 0 15px 35px rgba(50,50,50,0.15);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: sans-serif; //Find font family for here
    }